In [44]:
import pandas as pd

# Charger le fichier CSV
df = pd.read_csv("cereals.csv")
df
# print()
# print(df.head(2))
# print()
# print(df.tail(2))
# print()
# print(df.shape)
# print()
# print(df.dtypes)
# print()
# print(df.describe())
# print()
# print(df.drop( columns = 'rating', axis=1))
# print(df.rename(columns = {'rating':'price'}))
pd.inplace = True

In [12]:
import pandas as pd

# Charger le fichier CSV
df = pd.read_csv("cereals.csv")
df
# df.groupby('calories').agg({'calories':['sum','mean','max']})
# ne fonctionne pas
# print(df.sort_values(['name', 'calories'], ascending={True, False}))

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [45]:
import numpy as np
maliste = np.array([[1,2],[3,4],[5,6]])

In [46]:
# import pandas as pd
# df = pd.DataFrame(maliste, columns=['IMPAIR', 'PAIR'])
# df

In [47]:
df[df ['calories'] > 70]

                      name  calories  protein  vitamins     rating
1        100% Natural Bran       120        3         0  33.983679
4           Almond Delight       110        2        25  34.384843
5  Apple Cinnamon Cheerios       110        2        25  29.509541
6              Apple Jacks       110        2        25  33.174094
7                  Basic 4       130        3        25  37.038562
8                Bran Chex        90        2        25  49.120253
9              Bran Flakes        90        3        25  53.313813

In [48]:
# df.loc[0:4, 'name': 'protein' 
df.loc[[0,4], ['name', 'protein'] ]

             name  protein
0       100% Bran        4
4  Almond Delight        2

In [49]:
df.iloc[8,2]
df.iloc[[8], [2]]

   protein
8        2

In [63]:
# ajouter une ligne
df.loc[10]= ['All-Bran', 60, 1, 50, 27.753301]
df

                         name  calories  protein  vitamins     rating
0                   100% Bran        70        4        25  68.402973
1           100% Natural Bran       120        3         0  33.983679
2                    All-Bran        70        4        25  59.425505
3   All-Bran with Extra Fiber        50        4        25  93.704912
4              Almond Delight       110        2        25  34.384843
5     Apple Cinnamon Cheerios       110        2        25  29.509541
6                 Apple Jacks       110        2        25  33.174094
7                     Basic 4       130        3        25  37.038562
8                   Bran Chex        90        2        25  49.120253
9                 Bran Flakes        90        3        25  53.313813
10                   All-Bran        60        1        50  27.753301

In [61]:
df.drop(10, axis=0, inplace = True)
df

                         name  calories  protein  vitamins     rating
0                   100% Bran        70        4        25  68.402973
1           100% Natural Bran       120        3         0  33.983679
2                    All-Bran        70        4        25  59.425505
3   All-Bran with Extra Fiber        50        4        25  93.704912
4              Almond Delight       110        2        25  34.384843
5     Apple Cinnamon Cheerios       110        2        25  29.509541
6                 Apple Jacks       110        2        25  33.174094
7                     Basic 4       130        3        25  37.038562
8                   Bran Chex        90        2        25  49.120253
9                 Bran Flakes        90        3        25  53.313813
10                   All-Bran        60        1        25  27.753301

In [66]:
df.groupby(['name']).max()

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        50  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813